.signUp__container{
    width: 100%;
    max-width: 35vw;

    h2{
        color: #f50057;
    }
}

@media only screen and (max-width: 800px) {
    .signUp__container{
        max-width: 50vw;
    }
}