.searchBox__container{
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    
    div{
        width: 70%;
        display: flex;
        justify-content: flex-end;

        div, label{
            width: 100%;
        }

        .addTask__icon{
            cursor: pointer;
            font-size: 36px;
        }
    }
}