*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: auto;
  background-color: #FAFAFA;
}

.body__container{
  height: 100%;
  width: 100%;
  text-align: center;
}

.app__name{
  padding: 2rem;
}

@media only screen and (max-width: 800px) {
  .app__name{
    padding: 1rem;
  }
}